@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* body{
    @apply font-work_sans;
  }
  h4{
    @apply text-[22px] font-semibold text-[#222] ;
  }
  .sb{
    @apply border border-red-400;
  }
  p{
    @apply text-[#666666] text-sm font-normal;
  }
  .tablep{
    @apply font-semibold text-sm text-[#212529];
  }
  .tp{
    @apply font-normal text-[#212529] text-sm;
  }
  label{
    @apply font-normal text-sm text-[#000000];
  }
  #order{
    border-spacing: 2px;
    border-collapse: collapse;
    @apply font-work_sans;
  } */
  #order thead {
    border-bottom: 1px solid #ededed;
  }

  #order tr:nth-child(even) {
    background-color: #f3f4f8;
  }
  #order tr th {
    padding-top: 12px;
    padding-bottom: 10px;
  }
  #order tr td {
    padding-top: 12px;
    padding-bottom: 10px;
  }
}
.container {
  margin: 0 auto;
  width: calc(100% - 80px);
  max-width: 1505px;
}
